/Week 1/.vs
Week 1/.vsconfig
Week 1/Assembly-CSharp.csproj
/Week 1/Library
/Week 1/Logs
/Week 1/obj
/Week 1/UserSettings
Week 2/.vsconfig
Week 2/Assembly-CSharp.csproj
/Week 2/UserSettings
/Week 2/.vs
Week 2/GDP201 Inventory.sln
/Week 2/Library
/Week 2/Logs
/Week 2/obj
/Week 2/Temp
Week 2/Week 2.sln
/Week 2/.idea
